*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f5f9;
}

header {
    background-color: #1e293b;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo{  
    display: flex;
    align-items: center;
    height: 10px;
    width: auto;
    margin-top: 15px;

}

.container {
    display: flex;
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.produtos-carrinho {
    flex: 2;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.produtos-carrinho h2 {
    margin-bottom: 20px;
}

#carrinho {
    text-align: center;
    padding: 60px;
    color: #64748b;
}

.produtos{
    /* display: flex;
    border: 1px solid black;
    border-radius: 8px */
 display: flex;
 justify-content: space-between;
  gap: 20px;
  background-color: #f3f4f6;;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 10px 15px 15px rgba(0,0,0,0.05);
  align-items: center;
  margin-bottom: 20px;
}

.produtos img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.produtos h1{
    font-size: 25px;

}

.produtos h2{
font-size: 22px;
font-weight: bold;
margin-top: 20px;
color: #0f172a;
}

.remover_item {
    padding: 10px 15px;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}


.voltar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3b82f6;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.voltar:hover {
    background-color: #2563eb;
}

.resumo {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.resumo h2 {
    margin-bottom: 20px;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #475569;
}

.total {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #1e293b;
}


.quantidade{
      width: 70px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #1e293b;
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
  background-color: #f8fafc;
  cursor: pointer;
}

#finalizar{
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #22c55e;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.finalizar:hover {
    background-color: #16a34a;
}